<div class="score-container mb-4">
  <div class="progress-bar bg-main-lighter"></div>
  <div style="background: conic-gradient(#ED9455 0% {{ quizService.correctAnswersCount()*10 }}%, transparent {{ quizService.correctAnswersCount()*10 }}% 100%);" class="progress-bar"></div>
  <div data-testing="record" class="inner-circle">{{ quizService.correctAnswersCount() }}/10</div>
  <div class="congrats">Congrats!</div>
</div>

<button data-testing="score-play-again" routerLink="/" class="btn btn-dark btn-lg text-uppercase">Play Again</button>